* {
  // color: var(--v-info-base);
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.bg-white {
  background-color: var(--v-white-base) !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.tooltip-inner {
  background-color: var(--v-white-base) !important;
  border: 1px solid var(--v-inputBorder-base) !important;
  opacity: 1 !important;
}