* {
  // color: var(--v-info-base);
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.bg-white {
  background-color: var(--v-white-base) !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}