* {
  color: var(--v-basic -base);
}

.bg-white {
  background-color: var(--v-white-base) !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-pointer-events {
  pointer-events: none;
}

.text-decoration-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.tooltip-inner {
  background-color: var(--v-white-base) !important;
  border: 1px solid var(--v-inputBorder-base) !important;
  opacity: 1 !important;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.center-align {
  align-items: center;
}