.v-application {
  // v-btn
  .v-btn {
    height: 100% !important;
    width: 100%;

    .v-btn__content {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
    }
  }

  // disabled button 
  .theme--light.v-btn.v-btn--disabled,.theme--dark.v-btn.v-btn--disabled {
    color: var(--v-disabled-base) !important;
    pointer-events: none;

    .icon {
      filter: grayscale(100%);
    }
  }

}