.v-application {
  // v-btn
  .v-btn {
    min-height: 40px;
    height: 100% !important;
    text-transform: capitalize;

    .v-btn__content {
      max-width: 100%;
    }
  }

  .theme--light.v-btn.v-btn--disabled {
    background-color: var(--v-white-base) !important;
  }

  // disabled button 
  .theme--light.v-btn.v-btn--disabled,.theme--dark.v-btn.v-btn--disabled {
    color: var(--v-disabled-base) !important;
    pointer-events: none;

    .icon {
      filter: grayscale(100%);
    }
  }

}