.v-application {
  /**
    * Mew Address Select dropdown 
    */
  .v-autocomplete__content.v-menu__content {
      border-bottom: 1px solid var(--v-dropdownBorder-base);
      border-left: 1px solid var(--v-dropdownBorder-base);
      border-radius: 4px;
      border-right: 1px solid var(--v-dropdownBorder-base);
      box-shadow: 0px 5px 5px -3px rgb(13 41 66 / 20%), 0px 8px 10px 1px rgb(13 41 66 / 14%), 0px 3px 14px 2px rgb(13 41 66 / 12%);
  }

/**
  * Dropdown, select menu
  */
  .v-select-list {
    padding: 0;
  }

/**
  * Mew Menu, simple menu select
  */
  .simple-input.v-text-field>.v-input__control>.v-input__slot:before {
    border-style: none;
  }

  .simple-input.v-text-field>.v-input__control>.v-input__slot:after {
    border-style: none;
  }

  .mew-menu-content {
    .v-list-item--link {
      border-top: 1px solid var(--v-selectHover-base);
  
      &:hover {
        background-color: var(--v-selectHover-base) !important;
      }
    }
  }
/**
  * Mew Select Dropdown Menu
  */
  .v-menu__content {
    border: 1px solid var(--v-dropdownBorder-base);
    box-shadow: 0px 5px 5px -3px rgb(13 41 66 / 20%), 0px 8px 10px 1px rgb(13 41 66 / 14%), 0px 3px 14px 2px rgb(13 41 66 / 12%);
    .v-select-list {
    /**
      * Mew Select Dropdown Menu Header
      */
      .v-subheader {
        align-items: center;
        background-color: var(--v-selectHeaderBg-base);
        border: 1px solid var(--v-selectBorder-base);
        color: var(--v-textSecondary-base);
        display: flex;
        height: 32px;
        padding: 8px 22px 8px 48px;
      }
      .v-list-item {
        border-bottom: 1px solid var(--v-selectBorder-base);
      }
    }
  }

  /**
  * Text Field Disabled Theme
  */
  .theme--light.v-text-field--outlined:not(.v-input--is-focused).v-input--is-disabled > .v-input__control > .v-input__slot fieldset, .theme--dark.v-text-field--outlined:not(.v-input--is-focused).v-input--is-disabled > .v-input__control > .v-input__slot fieldset { 
    color: var(--v-inputDisabled-base) !important;
  }

/**
  * Text Field Border Color
  */
  .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    color: var(--v-inputBorder-base) !important;
  }

/**
  * Inputs
  */
  .v-input {
    input {
      color: var(--v-titlePrimary-base) !important;
      font-size: 14px;
    }

  /**
    * Input label
    */
    .v-label {
      color: var(--v-titlePrimary-base) !important;      
      font-weight: 400;
      font-size: 14px;
      text-transform: capitalize;

      &.v-label--is-disabled {
        color: var(--v-inputDisabled-base); 
      }
    }
  /**
    * Input placeholder
    */
    input::placeholder {
      color: var(--v-disabled-base);
      font-weight: 400;
    }
  /**
    * Input suffix color
    */
    .v-text-field__suffix {
      color: var(--v-searchText-base) !important;
    }
  /**
    * Dropdown icon
    */
    &.mew-select {
      .mdi-chevron-down {
        color: var(--v-titlePrimary-base);
        cursor: pointer;
        font-size: 20px;
      }
    }
  /**
    * Mew Select
    */
  &.mew-select {   
    .label-token-img {
      margin-right: -20px;
    }
    .total-token-placeholder {
      border-radius: 50%;        
      height: 38px;
      width: 38px;
    }
    &.v-text-field--enclosed .v-input__append-inner {
      height: 100%;
      margin-top: 0;
  
      .v-input__icon {
        height: 100%;
      }
    }
  /**
    * Readonly input is not being used (since we are using our own ui via slots) and is taking up unnecessary space
    * so will hide for now
    */
    .v-select__selections {
      input {
        display: none;
      }
    }
    .item-img {
      margin-right: 5px;
      max-height: 25px;
    }
  
    .selected-img {
      margin-left: 6px;
    }
  }
  &.mew-select-search {
    border-bottom: 1px solid var(--v-dropdownBorder-base);
    border-radius: 5px;
    height: 42px;
    padding: 12px 16px;
    .v-icon {
      font-size: 18px;
    }
  }
  /**
    * Disabled icon
    */
    .disable-icon {
      filter: grayscale(100%);
      pointer-events: none;
    }
  /**
    * Mew Input - Search
    */
    &.search-block {
      input::placeholder {
        color: var(--v-searchText-base);
      }
    }
  }

/**
  * Blockie placeholder
  */
  .blockie-placeholder {
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }
}