/**
  * Global Typography styles
  */
.mew-address {
  color: inherit;
  font-family: "PT Mono";
}

.mew-title {
  /* size - 50px,  height - 52px */
  font-size: 3.571rem;
  line-height: 3.714rem;
  font-weight: 700;
}

.mew-subtitle {
/* size - 30px,  height - 40px */
  font-size: 2.143rem;
  font-weight: 700;
  line-height: 2.857rem;
}

.mew-heading-1 {
  /* size - 24px,  height - 32px */
  font-size: 1.714rem;
  font-weight: 700;
  line-height: 2.286rem;
  }
  
  .mew-heading-2 {
  /* size - 20px,  height - 28px */
  font-size: 1.429rem; 
  line-height: 2rem;
  font-weight: 700;
  }
  
  .mew-heading-3 {
  /* size - 16px,  height - 24px */
  font-size: 1.143rem; 
  font-weight: 700;
  line-height: 1.714rem;
  }
  
  .mew-body {
  /* size - 14px ,  height - 20px */
  font-size: 1rem !important; 
  font-weight: 400;
  line-height: 1.429rem !important;
  }
  
  .mew-caption {
  /* size - 12px,  height - 20px */
  font-size: 0.8571rem;
  line-height: 1.429rem;
  font-weight: 700; 
  text-transform: uppercase;
  }

.capitalize {
  text-transform: capitalize !important;
}

.no-decoration {
  text-decoration: none !important;
}

.mew-header-block {
  color: var(--v-titlePrimary-base);
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 10px;
}

.mew-label {
  /* size - 12px,  height - 16px */
  font-size: 0.8571rem;
  font-weight: 400;
  line-height: 1.143rem;
} 
  
.mew-heading-4 {
  /* size - 16px,  height - 24px */
  font-size: 1.143rem; 
  line-height: 1.714rem;
  font-weight: 400;
}
  