
.mew-address {
  color: inherit;
  font-family: "PT Mono";
}

.mew-title {
  font-size: 50px;
  font-weight: 700
}

.mew-subtitle {
  font-size: 30px;
  font-weight: 700
}

.mew-heading-1 {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.mew-heading-2 {
  font-size: 22px !important;
  font-weight: 700 !important;
}

.mew-heading-3 {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.mew-body {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.mew-caption {
  font-size: 12px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.no-decoration {
  text-decoration: none !important;
}

.mew-header-block {
  color: var(--v-titlePrimary-base);
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 10px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}