
// .mew-address {
//   font-family: "PT Mono";
// }

.mew-title {
  font-size: 50px;
  font-weight: 700
}

.mew-subtitle {
  font-size: 30px;
  font-weight: 700
}

.mew-heading-1 {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.mew-heading-2 {
  font-size: 22px !important;
  font-weight: 700 !important;
}

.mew-heading-3 {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.mew-body {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.mew-caption {
  font-size: 12px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.no-decoration {
  text-decoration: none !important;
}