// SWITCH/CHECKBOX LABEL ======================================================
$label--active--color:  var(--v-info-base);
$label--inactive--color: var(--v-disabled-1-base);

// BUTTON PROPS ===============================================================
$button--height: 60px;
$button--min-width: 240px;
$button--text-transform: none;
$button--letter-spacing: 1px;

$button--primary--disabled--background-color: var(--v-disabled-1-base);
$button--primary--disabled--text-color: var(--v-white-base);

$button--secondary--disabled--background-color: var(--v-white-base);
$button--secondary--disabled--border-color: var(--v-disabled-1-base);
$button--secondary--disabled--text-color: var(--v-disabled-1-base);

// SWITCH PROPS ===============================================================
$switch--font-color: $label--active--color;

// CHECKBOX PROPS =============================================================
$checkbox--active--font-color: $label--active--color;
$checkbox--inactive--font-color: $label--inactive--color;

// CLASSES ====================================================================
.border-radius--4 {
  border-radius: 4px;
}

.line-height--medium {
  line-height: 20px;
}
